:root {
    --pg-opacity-0: 0;
    --pg-opacity-5: 0.05;
    --pg-opacity-10: 0.1;
    --pg-opacity-15: 0.15;
    --pg-opacity-20: 0.2;
    --pg-opacity-25: 0.25;
    --pg-opacity-30: 0.3;
    --pg-opacity-35: 0.35;
    --pg-opacity-40: 0.4;
    --pg-opacity-45: 0.45;
    --pg-opacity-50: 0.5;
    --pg-opacity-55: 0.55;
    --pg-opacity-60: 0.6;
    --pg-opacity-65: 0.65;
    --pg-opacity-70: 0.7;
    --pg-opacity-75: 0.75;
    --pg-opacity-80: 0.8;
    --pg-opacity-85: 0.85;
    --pg-opacity-90: 0.9;
    --pg-opacity-95: 0.95;
    --pg-opacity-100: 1;
}