:root {
    /* colors */
    /* brand */
    --clr-primary: var(--pg-clr-teal-500);
    --clr-secondary: var(--pg-clr-gray-450);
    --clr-tertiary: var(--pg-clr-teal-100);
    --clr-accent: var(--pg-clr-pink-400);

    /* status */
    --clr-success: var(--pg-clr-green-500);
    --clr-warning: var(--pg-clr-yellow-300);
    --clr-error: var(--pg-clr-red-450);
    --clr-info: var(--pg-clr-blue-450);

    /* backgrounds */
    --clr-bg: var(--pg-clr-gray-50);
    --clr-surface: var(--pg-clr-white);
    --clr-surface-hover: var(--pg-clr-gray-100);
    --clr-overlay: var(--pg-clr-gray-450);

    /* content */
    --clr-header: var(--pg-clr-gray-900);
    --clr-text: var(--pg-clr-gray-450);
    --clr-description: var(--pg-clr-gray-350);
    --clr-muted: var(--pg-clr-gray-250);

    --clr-border: var(--pg-clr-gray-150);

    /* Typography */
    --ff-primary: var(--pg-ff-sans);
    --ff-secondary: var(--pg-ff-serif);

    --fs-sm: var(--pg-fs-sm);
    --fs-base: var(--pg-fs-md);
    --fs-lg: var(--pg-fs-lg);
    --fs-xl: var(--pg-fs-xl);
    --fs-2xl: var(--pg-fs-2xl);

    --fw-thin: var(--pg-fw-400);
    --fw-normal: var(--pg-fw-500);
    --fw-medium: var(--pg-fw-600);
    --fw-bold: var(--pg-fw-700);

    --line-height-base: var(--pg-line-height-normal);
    --line-height-lg: var(--pg-line-height-loose);

    --letter-spacing-base: var(--pg-letter-spacing-normal);

    /* border-radius */
    --radius-none: var(--pg-radius-none);
    --radius-sm: var(--pg-radius-sm);
    --radius-base: var(--pg-radius-md);
    --radius-lg: var(--pg-radius-lg);
    --radius-full: var(--pg-radius-full);

    /* border */
    --border-width-base: var(--pg-border-width-medium);
    --border-width-thick: var(--pg-border-width-thick);

    --border-style-base: var(--pg-border-style-solid);

    /* spacing ( OPTIONAL ) */

    /* shadows */
    --shadow-sm: var(--pg-shadow-sm);
    --shadow-base: var(--pg-shadow-md);
    --shadow-lg: var(--pg-shadow-lg);

    /* transitions */
    --transition-fast: var(--pg-duration-fast);
    --transition-base: var(--pg-duration-medium);
    --transition-slow: var(--pg-duration-slow);

    /* layers */
    --z-dropdown: var(--pg-z-dropdown);
    --z-modal: var(--pg-z-modal);
    --z-tooltip: var(--pg-z-tooltip);
}