:root { 
    --pg-border-wdith-none: 0;
    --pg-border-width-thin: 1px;
    --pg-border-width-medium: 2px;
    --pg-border-width-thick: 4px;
    
    --pg-border-style-none: none;
    --pg-border-style-solid: solid;
    --pg-border-style-dashed: dashed;
    --pg-border-style-dotted: dotted;
    --pg-border-style-double: double;
}