:root {
    --pg-spacing-xs: 0.25rem;
    --pg-spacing-sm: 0.375rem;
    --pg-spacing-md: 0.625rem;
    --pg-spacing-lg: 1rem;
    --pg-spacing-xl: 1.5rem;
    --pg-spacing-2xl: 2.5rem;
    --pg-spacing-3xl: 4rem;
    --pg-spacing-4xl: 6.5rem;
}
