:root {
    --pg-spacing-xxs: 0.25rem;
    --pg-spacing-xs: 0.375rem;
    --pg-spacing-sm: 0.625rem;
    --pg-spacing-md: 1rem;
    --pg-spacing-lg: 1.5rem;
    --pg-spacing-xl: 2.5rem;
    --pg-spacing-2xl: 4rem;
    --pg-spacing-3xl: 6.5rem;
}