:root {
    --pg-ff-sans: 'Inter', sans-serif;
    --pg-ff-serif: 'Merriweather', serif;
    --pg-ff-mono: 'Fira Code', monospace;

    --pg-fs-xs: 0.75rem;
    --pg-fs-sm: 0.875rem;
    --pg-fs-md: 1rem;
    --pg-fs-lg: 1.125rem;
    --pg-fs-xl: 1.25rem;
    --pg-fs-2xl: 1.5rem;

    --pg-fw-100: 100;
    --pg-fw-200: 200;
    --pg-fw-300: 300;
    --pg-fw-400: 400;
    --pg-fw-500: 500;
    --pg-fw-600: 600;
    --pg-fw-700: 700;
    --pg-fw-800: 800;
    --pg-fw-900: 900;

    --pg-line-height-none: 1rem;
    --pg-line-height-tight: 1.25rem;
    --pg-line-height-normal: 1.5rem;
    --pg-line-height-loose: 1.75rem;
    --pg-line-height-relaxed: 2rem;
    --pg-line-height-mega: 2.5rem;

    --pg-letter-spacing-tighter: -0.01em;
    --pg-letter-spacing-tight: -0.005em;
    --pg-letter-spacing-normal: 0em;
    --pg-letter-spacing-wide: 0.005em;
    --pg-letter-spacing-wider: 0.01em;
    --pg-letter-spacing-widest: 0.015em;

}