:root {
    --pg-duration-very-fast: 0.1s;
    --pg-duration-fast: 0.2s;
    --pg-duration-medium: 0.3s;
    --pg-duration-slow: 0.5s;
    --pg-duration-very-slow: 1s;

    --pg-ease-linear: linear;
    --pg-ease-in: ease-in;
    --pg-ease-out: ease-out;
    --pg-ease-in-out: ease-in-out;
    --pg-ease-custom: cubic-bezier(0.4, 0, 0.2, 1);

    --pg-animation-none: none;
}